.idea
.gradle
build
dist
node_modules
out
chessgame.db

Diploma.bbl
Diploma.bcf
Diploma.blg
Diploma.idx
Diploma.ilg
Diploma.ind
Diploma.ist
Diploma.lof
Diploma.lol
Diploma.lot
Diploma.mw
Diploma.run.xml
Diploma.synctex.gz
Diploma.toc
Diploma.acn
Diploma.acr
Diploma.alg
Diploma.pdf
doc/diploma/**/*.log
doc/diploma/**/*.aux
doc/server/javadoc