/**
 * Defines the button
 */
.btn {
  @extend %button;
  display: block;
  border: 1px solid $color-black;
  border-radius: 5px;
  transition: color .3s ease, background .3s ease;

  &--inline {
    display: inline-block;

    + .btn--inline {
      margin-left: 20px;
    }
  }

  &--primary,
  &--ghost {
    font-size: 22px;
    width: 200px;
    padding: 10px 20px;
    margin: auto;
  }

  &--primary,
  &--submit {
    background: $color-black;
    color: $color-white;

    &:hover {
      background: $color-white;
      color: $color-black;
    }
  }

  &--ghost,
  &--cancel,
  &--piece-type {
    background: $color-white;

    &:hover {
      background: $color-black;
      color: $color-white;
    }
  }

  &--submit,
  &--cancel,
  &--piece-type {
    width: 150px;
    padding: 10px;
  }

  &--piece-type {
    margin: auto;
    + .btn--piece-type {
      margin-top: 5px;
    }
  }

  &--symbol {
    border: none;
    display: inline-block;
    background: transparent;

    + .btn--symbol {
      margin-left: 5px;
    }

    &::before {
      font-family: $font-stack-awesome;
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 20px;
    }
  }

  &--symbol-edit::before {
    content: "\f040";
  }

  &--symbol-start::before {
    content: "\f04b";
  }

  &--symbol-delete::before {
    content: "\f1f8";
  }
}