/**
 * Defines the button
 */
.btn {
  @extend %button;
  display: block;
  font-size: 22px;
  width: 200px;
  padding: 10px 20px;

  &--primary {
    background: $color-black;
    color: $color-white;
    margin: auto;
    border: 1px solid $color-black;
    border-radius: 5px;
    transition: color .3s ease, background .3s ease;

    &:hover {
      background: $color-white;
      color: $color-black;
    }
  }

  &--ghost {
    border: 1px solid $color-black;
    border-radius: 5px;
    transition: color .3s ease, background .3s ease;

    &:hover {
      background: $color-black;
      color: $color-white;
    }
  }
}